@import 'input.css';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-family: "Roboto", -apple-system, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 17px;
}

h1 {
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    font-weight: normal;
    color: #000;
}

a {
    text-decoration: none;
    color: #757575;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.inner {
    max-width: 970px;
    width: 98%;
    margin: 0 auto;
    box-sizing: border-box;
}

.action {
    border-radius: 4px;
    padding: 11px 17px 10px;
    font-size: 14px;
    line-height: 17px;
    border-width: 1px;
    border-style: solid;
    font-weight: 500;
    box-sizing: border-box;
}

.btn {
    text-align: center;
    cursor: pointer;
}

.sumbit-btn {
    border-color: #007AFF;
    background-color: #007AFF;
    color: #fff;
}

.common-btn {
    border-color: #757575;
    background-color: #fff;
    color: #757575;
}

/* ===== HEADER STYLES ===== */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 80px 27px;
}

.header__form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__form input {
    border-radius: 4px 0 0 4px;
    border-color: #e0e0e0;
    width: 325px;
}

.header__form button {
    border-radius: 0 4px 4px 0;
}

.header__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__actions .btn {
    width: 100px;
}

.header__actions .header__actions_elem {
    margin-left: 22px;
}

.header__actions .header__actions_elem:first-child {
    margin-left: 0;
}

.header__actions .action__like {
    padding: 0 5px;
    width: 28px;
    height: 26px;
}

.header__actions .action__basket {
    width: 32px;
    height: 28px;
}

/* ==== HEADER MENU ==== */
.subheader {
    background-color: #F4F4F4;
    padding: 13px 80px 14px;
}

.subheader__menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu__item {
    font-size: 15px;
    line-height: 18px;
}

.menu__item {
    margin-left: 20px;
}

.menu__item:first-child {
    margin-left: 0;
}

/* ========= MAIN STYLES ========= */
main {
    padding: 40px 0;
}

.application {
    padding: 15px 0 50px;
}

.application__menu {
    padding: 20px 0;
}

.application__menu ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.application__menu a {
    transition: color 0.4s;
}

.application__menu li.active a {
    color: #007AFF;
}

.application__menu a:hover {
    color: #007AFF;
}

.application__area {
    padding: 0 20px 30px;
    border: 1px solid #C6C6C5;
    border-radius: 4px;
}

.application__area .area__type {
    display: none;
}

.application__area .area__type.active {
    display: block;
}

.area__block {
    margin-top: 50px;
}

.block__title {
    position: relative;
    text-indent: 1px;
    padding: 0 0 10px;
    text-transform: uppercase;
    color: #007AFF;
    font-weight: 500;
    margin-bottom: 17px;
}

.block__title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #C6C6C5;
    opacity: 0.5;
}

.area__section {
    margin-top: 40px;
}

.section__title {
    margin-bottom: 9px;
    text-indent: 1px;
    font-weight: 500;
    color: #000;
}

.section__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.section__row {
    margin-top: 30px;
}

.section__row:first-child {
    margin-top: 0;
}

.section__row .section__description {
    font-size: 13px; /* для того чтобы вместилось в 2 строки на десктопе*/
    line-height: 16px;
    margin-top: 10px;
    color: #878786;
}

.section__row .section__input-block {
    width: 100%;
}

.section__row .section__input-block input {
    width: 100%;
}

.section__row .section__input-block {
    padding-left: 20px;
}

.section__row .section__input-block:first-child {
    padding-left: 0;
}

.section__input-block .action {
    font-weight: normal;
    border-color: #C6C6C5;
}

.section__row .guidelines {
    line-height: 40px;
}

/* ===== FOOTER STYLES ===== */
.footer {
    padding: 50px 0 20px;
}

.footer .inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__list .list__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
}

.footer__list ul {
    margin-top: 10px;
}

.footer__list a {
    position: relative;
    color: #1C1C1B;
    line-height: 30px;
}

.footer__list .social {
    padding-left: 30px;
}

.footer__list .social::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
    width: 22px;
    height: 21px;
}

.footer__list .facebook::before{
    background: url("../images/fb.svg");
}

.footer__list .twitter::before{
    background: url("../images/twitter.svg");
}

.footer__list .instagram::before{
    background: url("../images/insta.svg");
}

.footer__list .pinterest::before{
    background: url("../images/pinterest.svg");
}

.subfooter {
    padding: 20px 0;
    border-top: 1px solid #C6C6C5;
}

.subfooter ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subfooter li {
    padding: 0 10px;
}

.subfooter a {
    line-height: 25px;
}